<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<cells-jesus-guzman-vitte-dm>` description.

Example:

```html
<cells-jesus-guzman-vitte-dm></cells-jesus-guzman-vitte-dm>
```

@demo demo/index.html
-->
<dom-module id="cells-jesus-guzman-vitte-dm">
  <template>

    <cells-generic-dp></cells-generic-dp>

  </template>
  <script src="cells-jesus-guzman-vitte-dm.js"></script>
</dom-module>
